<div id="container">
  <div>
    <form action="index.html" class="mainForm">
      <label class="login">Login</label><br>
      <input type="text" name="email" id="" placeholder="Email" [(ngModel)]="email">
      <input type="text" name="password" id="" placeholder="Password" [(ngModel)]="password"><br>
      <button (click)="signIn()">Submit</button>
      
      <div id="info">
        <div *ngIf="Auth.authState | async as user; else login" >
            <h1>Information</h1>
            <p id="items" *ngFor="let item of items" >
              {{ item }}
            </p>
          <button (click)="logout()">Logout</button>
        </div>
      </div>
    </form>
  </div>
</div>

