body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #333333;
  }
  
  .title {
    color:#000000;
  }
  
  .mainForm {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    text-align: center;
  }
  
  .mainForm h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .mainForm input[type="text"],
  .mainForm input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
  }
  
  .mainForm input[type="text"]:focus,
  .mainForm input[type="password"]:focus {
    width: 250px;
    border-color: #2ecc71;
  }
  
  .mainForm input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
  }
  
  .mainForm input[type="submit"]:hover {
    background: #2ecc71;
  }
  #info {
    display: none;
  }
  #user {
    font-size: 1.5em;
    color: rgb(28, 116, 40);
    text-shadow: 1px 2px 1px #474747;
  }